[Oo]bj/
[Bb]in/
App_Data
[Pp]ackages
Logs
PrecompiledWeb/
Publish.cmd
_ReSharper.*
*crunch*

*.user
*.suo
*.cache
*.dotCover
*.dotsettings
*.nupkg
!*.proj

# Visual Studio 2015 cache/options directory
.vs/
